asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
filelock==3.9.0
fonttools==4.42.0
gdown==4.7.1
idna==3.4
imageio==2.31.1
importlib-resources==6.0.1
ipython==8.12.2
jedi==0.19.0
Jinja2==3.1.2
kiwisolver==1.4.4
lmdb==1.4.1
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mpmath==1.2.1
mypy-extensions==1.0.0
networkx==3.0
numpy==1.24.4
opencv-python==4.8.0.74
packaging==23.1
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
pure-eval==0.2.2
Pygments==2.16.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.17.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
stack-data==0.6.2
sympy==1.11.1
tifffile==2023.7.10
tomli==2.0.1
torch==2.0.1+cu117
torchvision==0.15.2+cu117
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.4.0
urllib3==2.0.4
wcwidth==0.2.6
zipp==3.16.2
